.footer {
  background-color: #000000;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 150px 20px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}

.footer-texto {
  font-size: 1.5rem;
  color: #cccccc;
}

.footer-lista li {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer-direito {
  font-size: 1.4rem;
  color: #8f8f8f;
}

@media (max-width: 900px) {
  .footer-texto {
    font-size: 1.2rem;
  }
  .footer-lista li {
    font-size: 1.5rem;
  }
}

@media (max-width: 730px) {
  .footer-container {
    grid-template-columns: 1fr;
    padding: 50px;
    gap: 60px;
  }
}

@media (max-width: 600px) {
  .footer-texto {
    font-size: 1rem;
  }

  .footer-lista li {
    font-size: 1.3rem;
  }

  .footer-direito {
    font-size: 1.1rem;
  }
}
