.formacao {
  background-color: #141414;
}

.formacao-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-container::after {
  content: "";
  background-image: url(/img/detalhe.svg);
  position: absolute;
  width: 128px;
  height: 128px;
  background-position: center;
  background-repeat: no-repeat;
  bottom: -60px;
  left: -30px;
}

.formacao-texto {
  font-size: 1.5rem;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.formacao .subtitulo {
  color: #000000;
}

.formacao-lista {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.formacao-lista li {
  background-color: #080808;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.formacao-tipo {
  color: #a3a3a3;
}

.formacao-faculdade {
  color: #a3a3a3;
}

.formacao-curso {
  display: flex;
  flex: 1;
  color: #ffffff;
  position: relative;
}

.formacao-curso::before {
  content: "";
  background-image: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  height: 20px;
  width: 4px;
  left: -24px;
}

.formacao-adicional {
  margin-bottom: 40px;
}

.formacao-h3 {
  margin-bottom: 30px;
  color: #8f8f8f;
  position: relative;
}

.formacao-adicional .formacao-h3 {
  position: relative;
}

.formacao-adicional .formacao-h3::before {
  content: "";
  background-image: url(/img/cursos.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  left: -40px;
  top: -3px;
  background-repeat: no-repeat;
}

.formacao-ad1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #ffffff;
}

.formacao-ad1 span {
  color: #8f8f8f;
}

.formacao-listaidioma li {
  margin-bottom: 20px;
  display: flex;
  gap: 4px;
  color: #ffffff;
}

.formacao-listaidioma li span {
  color: #8f8f8f;
}

.formacao-idioma .formacao-h3 {
  position: relative;
}

.formacao-idioma .formacao-h3::before {
  content: "";
  background-image: url(/img/idiomas.svg);
  width: 28px;
  height: 28px;
  position: absolute;
  left: -40px;
  top: -3px;
  background-repeat: no-repeat;
}

@media (max-width: 1300px) {
  .formacao-container::after {
    display: none;
  }
}

@media (max-width: 1000px) {
  .formacao .subtitulo {
    font-size: 8rem;
  }
}

@media (max-width: 890px) {
  .formacao .subtitulo {
    font-size: 7rem;
  }

  .formacao-texto {
    font-size: 1.3rem;
    margin-bottom: 40px;
  }
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .formacao .subtitulo {
    word-break: initial;
    font-size: 3rem;
    color: #ffffff;
  }

  .formacao-idioma .formacao-h3::before {
    left: 180px;
  }
  .formacao-adicional .formacao-h3::before {
    left: 180px;
  }
}
