.intro {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.intro-h1 {
  font-size: 4.5rem;
  margin-bottom: 40px;
  position: relative;
  color: #141414;
}

.intro-h1::before {
  content: "";
  background-image: url(/img/detalhe.svg);
  position: absolute;
  width: 128px;
  height: 128px;
  background-position: center;
  background-repeat: no-repeat;
  top: -30px;
  left: -35px;
  z-index: -1;
}

.intro-p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .intro-h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 780px) {
  .intro {
    gap: 60px;
    justify-items: center;
    grid-template-columns: 1fr;
  }
  .intro-h1::before {
    width: 30px;
    height: 6px;
    top: -6px;
    left: 3px;
  }
  .intro img {
    display: none;
  }
}

@media (max-width: 500px) {
  .intro-h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .intro-p {
    font-size: 1.1rem;
  }
}
